*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}
a {
	color: black;
}
body{
	background-color: black;
}
.mainDiv{
	width: 1000px;
	height: auto;
	border: 0px solid red;
	margin: auto;
}
.row1{
	width: 1000px;
	height: 186px;
	background-image: url('../images/headerbg.jpg');
}
.row1Image{
	border: 0px solid black;
	float: left;
	width: 210px;
	height: 160px;
	padding-top: 10px;
	padding-left: 40px;
}
.logo{

}
.headerContent{
	border: 0px solid black;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
    color: #00618a;
    font-weight: bold;
    padding: 50px 35px;
    text-align: center;
    font-size: 18px;
    width: 330px;
}
.contact_details{
	border: 0px solid black;
	float: right;
	background-image: url('../images/topcontactbg.png');
	background-repeat: no-repeat;
	width: 296px;
	height: 132px;
	margin: 20px 45px 0px 0px;
}
.website{
	padding-top: 10px;
	padding-left: 20px;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
.email{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	padding: 10px 0px;
	padding-left: 20px;
}
.number{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 24px;
	padding-left: 20px;
}
.row2{
	width: 920px;
	height: 50px;
	background-image: url('../images/menubg.jpg');
	border: 0px solid red;
	padding-left: 80px;
}
.menu_white{
	background-image: url('../images/menuactive.png');
	border: 0px solid red;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	width: 127px;
	height: 34px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	margin-top: 10px;
}
.menu_color{
	background-image: url('../images/menubackground.png');
	border: 0px solid red;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	width: 127px;
	height: 34px;
	font-size: 14px;
	margin: 10px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	margin-top: 10px;
}
.thirdfloor{
	width: 1000px;
	margin: auto;
	border: 0px solid red;
}
.leftdiv{
	width: 240px;
	height:250px;
	float: left;
	border: 0px solid red;
}
.column{
	width: 213px;
	height:25px;
	background-image: url('../images/leftmenubg.png');
	border: 0px solid red;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding-top: 12px;
	margin-bottom:2px;
	margin-left: 16px;
}
.rightdiv{
	width: 705px;
	float: left;
	margin-right:15px;
}
.aboutus{
	margin-top: 15px;
	margin-right: 2px;
	line-height: 20px;
}
.mainwebsitecontent{
	width: 100%;
	color: #5b5b5b;
	font-family:Arial, Helvetica, sans-serif;
	text-align: justify;
	line-height: 20px;
	margin-bottom: 15px;
}
.galleryimgdiv{
	margin-right: 35px;
    margin-bottom: 20px;
    float: left;
}
.formrow{
	margin-bottom: 20px;
	height: 20px;
	width: 100%;
	margin-bottom: 20px;
/*	border: 1px solid red;*/
}
.formrowtextarea{
	height: 90px;

}
.formrowtextarea textarea{
	resize: none;
}
.formlable{
	float: left;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.inputform{
	font-size: 12px;
	float: left;
	width: 500px;
}
.fourthFloor{
	width: 1000px;
	float: left;
	border: 0px solid red;
	margin-bottom: 5px;
}
.whydiv{
	background: url('../images/whybg.jpg') repeat-x;
	height: 193px;
    width: 213px;
    border: #FFF 1px solid;
    margin-top: 1px;
    margin-left: 18px;
    margin-right: 13px;
    border-radius: 10px;
    float: left;
}
.whyconent{
	margin-top: 15px;
	margin-left: 10px;
	text-align: center;
}
.whyheading{
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	margin-bottom: 20px;
}
.whycontent{
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	text-align: left;
	margin-bottom: 5px;
	margin-left: 5px;
}
.coursesmaindiv{
	background: #fdc059;
    border: #FFF 1px solid;
    width: 326px;
    height: 184px;
    margin-top: 1px;
    margin-right: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    float: left;
}
.coursesheading{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}
.coursescontent{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    color: #000;
}
.services{
	float:left;
	margin-top:1px;
}
.footer_left{
	background: url('../images/footer_left.png');
	background-repeat: no-repeat;
	float: left;
	width: 13px;
	height: 33px;
	margin-left: 19px;
	padding-top: 13px;
	margin-top: 13px;
}
.footer_middle{
	background-image: url('../images/footer_middle.png');
	background-repeat: repeat-x;
	height: 33px;
	width: 943px;
	float: left;
	padding-top: 13px;
	margin-top: 13px;
}
.footerinner{
	width: 407px;
	margin: auto;
}
.footermenu{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: black;
	float: left;
	border-right: 1px solid black;
	margin-right: 10px;
	padding-right: 10px;
}
.footer_right{
	background: url('../images/footer_right.png') no-repeat;
	float: left;
	width: 13px;
	height: 33px;
	padding-top: 13px;
	margin-top: 13px;
}
#send{
	width: 100px;
	height: 50px;
	margin-bottom: 20px;
	color: white;
	background-color: #0f9;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 18px;
}